//=== шрифт апо умолчанию ===========================================================
$fontFamily: "Roboto";
$fontSize: 14px;
//=== переменные ====================================================================
$maxWidth: 1400px;
$maxWidthContainer: 1180px; // ширина контейнерв  1140px + 20px +20px (паддинги  слева-справа)  

