.header {
  background: url("../img/bg_header.jpg") top no-repeat;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-header__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
}

.top-header__column--logo {
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100px;
          flex: 0 0 100px;
  padding-top: 25px;
  margin-left: -70px;
}

.menu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu__list li {
  padding: 7px 12px;
  display: inline-block;
  font-family: "Play", sans-serif;
  font-weight: 700;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 20px;
}

.menu__list li:hover {
  background-color: #068292;
}

.menu__list__link {
  color: #fff;
}

.contacts-header {
  padding-left: 60px;
}

.contacts-header__item {
  padding: 0 32px;
}
